.navbar{
    position:fixed;
    top:0;
    right:0;
    list-style-type: none;
}

body{
    /*background-color: aqua;*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:coral;
}

#flexZScrn {
    height:50vw;
    width:80vw;
}
