.navbar{
    position:fixed;
    top:0;
    right:0;
    list-style-type: none;
}

body{
    font-family: Garamond, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: colorChange 1s steps(2) infinite;
}


a{
    color:#ffffff;
    text-decoration: none;
}

#flexZScrn {
    height:50vw;
    width:80vw;
    display: block;
    margin: 0 auto;
}

.prjctSS {
    width:250px;
    height: 230px;
    filter:brightness(90%);
    animation: pulse 1s infinite;
}

img {
    border-radius: 10%;
}

.projects{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding:10px;
    background-color:#cddcf1;
    border-radius: 10%;
    animation: colorChange 2s steps(2) infinite;
}

.welcome {
    margin: auto 50px auto 50px;
    border-radius: 10%;
    animation: colorChange 3s steps(2) infinite;
}

.rotatingTxt {
    display: inline-block;
    animation: spin 2s linear infinite;
}

/*Toggle Spin*/
#toggle-spin:checked ~ .rotatingTxt,
#toggle-spin:checked ~ * .rotatingTxt {
  animation-play-state: paused;
}

.profiles {
    font-size: 18px;
}

.btn {
  background-color: #ff4040;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align:center;
  text-decoration:none;
  border: 2px solid white;
  padding: 12px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  display:block;
  margin: auto;
  width:30vw;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.03);
}

#tribute-img{
    width:70vw;
    animation: spin 4s infinite linear;
}

/*animations*/

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes colorChange {
    0%   { background-color: red; } 
    25%  { background-color: yellow; }
    50%  { background-color: green; }
    75%  { background-color: blue; }
}

@keyframes pulse {
    0% {filter:brightness(20%)}
    50% {filter:brightness(100%)}
}


/*media query*/

@media (min-width: 1200px) {
    h1 {
        font-size: 70px;
    }
    p{
        font-size:20px;
    }
    a {
        font-size:40px;
    }
    figcaption {
        font-size:40px;
    }
}